body{background-color:RGB(248,248,248)}

.Content{
    border:2px solid RGB(255,255,255);background-color:RGB(255,255,255);
    width:500px;height:570px;
    position: fixed;
    left: 50%;
    top: 47%;
    margin: -285px 0px 0px -250px;

    box-shadow: 0px -2px 5px 0px RGB(211,211,211),
    -3px 0px 3px 0px RGB(211,211,211),
    3px 0px 3px 0px RGB(211,211,211),
    0px 2px 5px 0px RGB(211,211,211);
}

.Copyright{
    width:500px;height:20px;
    position: fixed;
    left: 50%;
    top: 50%;
    top:98%;
    margin: -10px 0px 0px -250px;
    font-size:13px;
    text-align:center;
    font-family:"微软雅黑";
    color:grey;
}

.Welcome{
    background-color:RGB(243,249,252);
    width:500px;height:110px;
    position: absolute;
    bottom:10px;
    left:250px;
    font-size:13px;
    margin: -55px 0px 0px -250px;
    font-family:"微软雅黑";
    color:RGB(11,127,173);
    text-align:center;
}

.HtToolset{
    width:500px;height:20px;
    position: absolute;
    top:200px;
    left:250px;
    margin: -10px 0px 0px -250px;
    font-size:14px;
    font-family:"微软雅黑";
    color:RGB(11,127,173);
    text-align:center;
}

.Logo{
    width:500px;
    height:150px;
    margin: -10px 0px 0px -300px;
    position: absolute;
    top:60px;
    left:400px;
    font-size:110px;
    font-family:Arial Black;
    color:rgb(11,127,173);
}

.userndiv{
    height:46px;
    width:350px;
    position:relative;
    border-radius:5px;
    border:1px solid rgb(200,200,200);
    margin-top:230px;
    margin-left:75px;
}
.passwdiv{
    height:44px;
    width:350px;
    position:relative;
    border-radius:5px;
    border:1px solid rgb(200,200,200);
    margin-top:0px;
    margin-left:75px;
}

.submtdiv{
    width:350px;
    height:44px;
    background-color:rgb(11,127,173);
    border-radius:5px;
    border:1px solid rgb(11,127,173);
    margin-left:75px;

}
.passw {
    width:340px;
    padding:0px;
    position:absolute;
    box-shadow:none;
    background:#FFFFFF;
    height:44px;
    font-size:14px;
    color:#424242;
    font-weight:400;
    resize:none;
    margin:0px;
    border:none;
    margin-left:10px;
    color:grey;
    font-size:13px;
}
.usern {
    width:340px;
    padding:0px;
    position:absolute;
    box-shadow:none;
    background:#FFFFFF;
    height:44px;
    font-size:14px;
    color:#424242;
    font-weight:400;
    resize:none;
    margin:0px;
    border:none;
    margin-top:0.5px;
    margin-left:10px;
    color:grey;
    font-size:13px;
}
.submt{
    width:350px;
    height:42px;
    background: transparent;
    border:none;
    font-family:微软雅黑;
    font-weight:bold;
    color:white;
    font-size:15px;

}
.submt:hover{
    cursor:pointer;
}

.submtdiv:hover{
    background-color:rgb(41,167,222);
}